# http://editorconfig.org/

root = true

# Defaults for all file types
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_size = 4

# JSON files
[*.json]
indent_size = 4

# HTML & PHP template files
[*.{html,phtml}]
indent_size = 4

# XML and related file types
[*.{xml,xsl,xsd}]
indent_size = 4

# Web server configuration files
[*.{htaccess,conf}]
indent_size = 4
