.DS_Store
/.env
/auth.json
/conf/env.php
/vendor

### Ignore Magento core files ###

/magento/.buildpath
/magento/.cache
/magento/.metadata
/magento/.project
/magento/.settings
/magento/atlassian*
/magento/nbproject
/magento/sitemap
/magento/.idea
/magento/.gitattributes
/magento/app/code/Magento
/magento/app/design/*/Magento
/magento/app/etc
/magento/app/i18n/magento
/magento/app/*.*
/magento/bin
/magento/dev/shell
/magento/dev/tests/*/framework
/magento/dev/tests/*/testsuite/Magento
/magento/dev/tests/*/tmp
/magento/dev/tests/*/etc
/magento/dev/tests/*/*.*
/magento/dev/tests/*.*
/magento/dev/tests/api-functional/config
/magento/dev/tests/api-functional/_files/Magento
/magento/dev/tests/js/JsTestDriver/framework
/magento/dev/tests/js/JsTestDriver/testsuite/lib
/magento/dev/tests/js/JsTestDriver/testsuite/mage
/magento/dev/tests/js/JsTestDriver/*.*
/magento/dev/tests/js/jasmine/assets
/magento/dev/tests/js/jasmine/spec_runner
/magento/dev/tests/js/jasmine/tests/app/code/Magento
/magento/dev/tests/js/jasmine/tests/lib/mage
/magento/dev/tests/js/jasmine/*.*
/magento/dev/tests/performance
/magento/dev/tests/functional/lib/Magento
/magento/dev/tests/functional/tests/app/Magento
/magento/dev/tests/functional/testsuites/Magento
/magento/dev/tests/functional/utils
/magento/dev/tools/Magento
/magento/dev/tools/grunt
/magento/dev/tools/*.*
/magento/dev/travis
/magento/dev/*.*
/magento/lib
/magento/phpserver
/magento/pub
/magento/setup
/magento/update
/magento/var
/magento/vendor
/magento/*.*

# Except Composer files

!/magento/composer.json
!/magento/composer.lock
