<?xml version="1.0"?>
<ruleset name="M2CE">
    <description>Magento 2 Coding Standards</description>
    <arg value="p"/>
    <arg name="colors"/>
    <ini name="memory_limit" value="128M" />
    <file>src</file>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <rule ref="./vendor/magento/marketplace-eqp/MEQP1" />
    <rule ref="./vendor/magento/marketplace-eqp/MEQP2" />
    <arg name="standard" value="MEQP2"/>
    <arg name="extensions" value="php,phtml"/>
</ruleset>
