# Magento Cron Schedules
# http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html

* * * * * /usr/local/bin/php /var/www/html/bin/magento cron:run | grep -v "Ran jobs by schedule" 2>&1
* * * * * /usr/local/bin/php /var/www/html/update/cron.php 2>&1
* * * * * /usr/local/bin/php /var/www/html/bin/magento setup:cron:run 2>&1
